* {
  margin: 1px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* conexion entre scss */
* {
  margin: 1px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#qesbtc {
  width: 100%;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: table-row;
  background-image: url(/img/urban-931.png);
  background-size: cover;
  background-position: left;
}

.definicion h1 {
  text-align: center;
  color: #0051ff;
  text-shadow: 1px 2px #686868;
}

.hleft {
  margin-right: 20%;
  color: #ff960d;
  margin-left: 7%;
  margin-top: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.hleft h3 {
  width: 15%;
  font-size: 50px;
}

.hleft p {
  text-align: justify;
  color: #1500d1;
  text-shadow: 1px 1px white;
  width: 50%;
  margin-left: 5px;
}

.hright {
  margin-left: 50%;
  margin-top: 2%;
  color: #1500d1;
}

.hright h3 {
  width: 15%;
  font-size: 50px;
  margin-left: 53%;
}

.hright p {
  text-align: justify;
  color: #ff5100;
  text-shadow: 1px white;
  width: 70%;
  margin-left: 120px;
}

h4 {
  color: #ff9318;
  background-color: white;
  text-align: center;
  margin: 1rem;
}

/* responsive */
@media (max-width: 390px) {
  #qesbtc {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: table-row;
    background-image: url(/img/cool-background.png);
    background-size: cover;
    background-position: center;
  }
  .hleft {
    margin-right: 1%;
    color: #ff960d;
    margin-left: 1%;
    margin-top: 5px;
    display: list-item;
  }
  .hleft h3 {
    width: 15%;
    font-size: 35px;
    margin-left: 15px;
    margin-top: 20px;
  }
  .hleft p {
    text-align: justify;
    color: #1500d1;
    text-shadow: 1px 1px white;
    width: 95%;
    margin-left: 10px;
    font-size: 15px;
  }
  .hright {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 5px;
    display: list-item;
  }
  .hright h3 {
    width: 15%;
    font-size: 35px;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 50%;
    color: #ff8119;
    text-shadow: 1px 1px #ebedf7;
  }
  .hright p {
    text-align: justify;
    color: #1500d1;
    text-shadow: 1px 1px white;
    width: 95%;
    margin-left: 10px;
    font-size: 15px;
  }
}

* {
  margin: 1px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#bgComprar {
  width: 100%;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: table-row;
  background-image: url(/img/comprabtc.png);
  background-size: 85%;
  background-position: right 90px;
}

.definicion h1 {
  text-align: center;
  color: #0051ff;
  text-shadow: 1px 2px #686868;
}

.hleft {
  color: #ff960d;
  margin-left: 3%;
  margin-top: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.hleft li {
  list-style: none;
}

.hleft h3 {
  width: 18%;
  font-size: 50px;
  margin-top: 30px;
}

.hleft p {
  text-align: justify;
  color: #1500d1;
  text-shadow: 1px 1px white;
  width: 50%;
  margin-left: 5px;
}

.hright {
  margin-left: 50%;
  margin-top: 0%;
}

.hright h3 {
  width: 60%;
  font-size: 50px;
  margin-left: 25%;
  color: #ff9100;
  text-shadow: 1px 1px white;
}

.hright li {
  text-align: justify;
  background-color: white;
  color: #ff5100;
  text-shadow: 1px 1px #3b3b3b;
  width: 70%;
  margin-left: 120px;
}

/* responsive */
@media (max-width: 390px) {
  #qesbtc {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: table-row;
    background-image: url(/img/cool-background.png);
    background-size: cover;
    background-position: center;
  }
  .hleft {
    color: #ff960d;
    margin-left: 1%;
    margin-top: 5px;
    display: list-item;
  }
  .hleft h3 {
    width: 15%;
    font-size: 35px;
    margin-left: 15px;
    margin-top: 20px;
  }
  .hleft p {
    text-align: justify;
    color: #1500d1;
    text-shadow: 1px 1px white;
    width: 95%;
    margin-left: 10px;
    font-size: 15px;
  }
  .hright {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 5px;
    display: list-item;
  }
  .hright h3 {
    width: 15%;
    font-size: 35px;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 50%;
    color: #ff8119;
    text-shadow: 1px 1px #ebedf7;
  }
  .hright p {
    text-align: justify;
    color: #1500d1;
    text-shadow: 1px 1px white;
    width: 95%;
    margin-left: 10px;
    font-size: 15px;
  }
}

* {
  margin: 1px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#bgPrecio {
  width: 100%;
  height: 700px;
  background-image: url(/img/precio2.png);
  background-size: cover;
  background-position: center right;
  margin-left: 60px;
}

.tprecio h1 {
  text-align: center;
  color: #ffae00;
  text-shadow: 1px 2px black;
}

.precio {
  width: 590px;
  height: 320px;
  margin-left: 18%;
  margin-top: 50px;
}

* {
  margin: 1px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#bgNoticias {
  width: 100%;
  height: 770px;
  background-image: url(/img/bgnoticas.png);
  background-size: cover;
  background-position: left center;
}

.noticias h2 {
  text-align: center;
  color: #ff8800;
  text-shadow: 1px 2px black;
}

.contenedor {
  margin-top: 20px;
  width: 90%;
  margin-left: 75px;
  height: auto;
  background-color: #0a2a79;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item1 item2 item3 item5" "item1 item4 item6 item6";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.contenedor h3 {
  text-align: center;
  color: #fff;
  margin: 2rem;
  font-family: 'Mitr', sans-serif;
  text-shadow: 2px 2px black;
}

.item {
  min-height: 200px;
  min-width: 200px;
  background-color: aqua;
  border: 2px solid #fff;
}

.item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.item1 {
  background-color: coral;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-image: url(img/nt1);
  background-size: cover;
  background-position: center;
}

.item2 {
  grid-area: "item2";
  background-color: cadetblue;
  background-image: url(img/nt2);
  background-size: cover;
}

.item3 {
  grid-area: "item3";
  background-color: fuchsia;
  -ms-grid-column: 3;
  grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url(img/nt3);
  background-size: cover;
}

.item4 {
  grid-area: "item4";
  background-color: forestgreen;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  background-image: url(img/nt4);
  background-size: cover;
}

.item5 {
  grid-area: "item5";
  background-color: firebrick;
  background-image: url(img/nt5);
  background-size: cover;
}

.item6 {
  grid-area: "item6";
  background-color: dodgerblue;
  -ms-grid-column: 3;
  grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  background-image: url(img/nt6);
  background-size: cover;
}

/* cierre conexion entre scss */
body {
  background-color: #333333;
  overflow-x: hidden;
}

header {
  height: 650px;
}

#img_logo-navbar {
  margin-left: 4%;
  -webkit-box-align: 40px;
      -ms-flex-align: 40px;
          align-items: 40px;
  -webkit-filter: saturate(2);
          filter: saturate(2);
}

.navbar-brand i {
  font-weight: 700;
  color: #eeeeee;
  text-shadow: 1px 1px #ff9100;
}

.navbar-nav {
  margin-left: 50%;
  margin-right: 1%;
}

.video {
  position: absolute 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video #header-contenido {
  position: absolute;
  width: 100%;
}

.video #header-contenido h1 {
  text-transform: uppercase;
  text-align: center;
  place-items: center;
  font-size: 230px;
  font-family: 'Bangers';
  color: #ff8513;
  text-shadow: 2px 4px #494949;
}

.video #header-contenido p {
  text-align: center;
  place-items: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: #ff2600;
  text-shadow: 2px 2px #c5c5c5;
}

footer {
  height: 100px;
}

footer .text-center {
  height: 10px;
  width: 100%;
  margin-bottom: auto;
}

footer .text-center p {
  font-size: 7px;
}

/* responsive */
@media (max-width: 390px) {
  #bgPort {
    background-image: url(img/cool-background.png);
    background-position: center;
    height: 500px;
  }
  #bgPort {
    height: 700px;
  }
  .video {
    width: 0%;
  }
  #header-contenido {
    position: absolute;
    width: 100%;
    margin-top: 300px;
  }
  #header-contenido h1 {
    text-transform: uppercase;
    text-align: center;
    place-items: center;
    font-size: 230px;
    font-family: 'Bangers';
    color: #ff7b00;
    text-shadow: 2px 4px #494949;
  }
  #header-contenido p {
    text-align: center;
    place-items: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #ff2600;
    text-shadow: 2px 2px #c5c5c5;
  }
  footer {
    height: 100px;
    margin-top: 600px;
  }
  footer .text-center {
    height: 10px;
    width: 100%;
    margin-bottom: auto;
  }
  footer .text-center p {
    font-size: 7px;
  }
  .navbar {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .navbar-expand-sm {
    width: 369px;
  }
  .navbar-brand i {
    font-size: 15px;
  }
  .nav-link a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video {
    position: relative 200px;
    -o-object-fit: cover;
       object-fit: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video #header-contenido {
    position: absolute;
    width: auto;
  }
  .video #header-contenido h1 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    place-items: center;
    font-size: 60px;
    font-family: 'Bangers';
    color: #ff9100;
    text-shadow: 2px 2px #444444;
  }
  .video #header-contenido p {
    text-align: center;
    place-items: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #ff4800;
    text-shadow: 1px 1px #ffffff;
  }
}

@media (max-width: 420px) {
  .navbar {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  #bgPort {
    background-image: url(img/cool-background.png);
    background-position: center;
    height: 700px;
  }
  #nav1 {
    width: auto;
  }
  .navbar-brand i {
    font-size: 15px;
  }
  .video {
    position: relative 200px;
    -o-object-fit: cover;
       object-fit: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video #header-contenido {
    position: absolute;
    width: auto;
  }
  .video #header-contenido h1 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    place-items: center;
    font-size: 60px;
    font-family: 'Bangers';
    color: #ff9100;
    text-shadow: 2px 2px #444444;
  }
  .video #header-contenido p {
    text-align: center;
    place-items: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #ff4800;
    text-shadow: 1px 1px #ffffff;
  }
}

@media (max-width: 720px) {
  .navbar {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  #bgPort {
    background-image: url(img/cool-background.png);
    background-position: center;
    height: 700px;
  }
  #nav1 {
    width: auto;
  }
  .navbar-brand i {
    font-size: 15px;
  }
  .video {
    position: 0;
    -o-object-fit: cover;
       object-fit: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video #header-contenido {
    position: absolute;
    width: auto;
  }
  .video #header-contenido h1 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    place-items: center;
    font-size: 60px;
    font-family: 'Bangers';
    color: #ff9100;
    text-shadow: 2px 2px #444444;
  }
  .video #header-contenido p {
    text-align: center;
    place-items: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #ff4800;
    text-shadow: 1px 1px #ffffff;
  }
}
/*# sourceMappingURL=estilos.css.map */